@inject NavigationManager NavigationManager
<div class="searchComponent">
    <RadzenTextBox @bind-value=@SearchTerm placeholder="Search..." class="searchComponent" />
    <RadzenButton Icon="search" Click=@(args => Search()) class="searchComponent" Shade="Shade.Lighter" ButtonStyle="ButtonStyle.Base"></RadzenButton>
</div>
@code {
    [Parameter]
    public string SearchTerm { get; set; } = "";

    protected override void OnInitialized()
    {
    }

    void Search()
    {
        NavigationManager.NavigateTo($"/search-results?query={SearchTerm}");
    }
}