﻿<div class="sentiment">
    <RadzenSlider @bind-Value=@Value TValue="float" Disabled=true style="width:100%" />
    <div class="marker">
        <div style="left: @Value%;">
            <label>@Value.ToString("0.0")%</label>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public float Value { get; set; }
}