<RadzenRow Gap="5" RowGap="5" style="margin-bottom:25px">
    <RadzenColumn>
        <RadzenCard>
            <RadzenRow>
                <h3>How Good of a Match is my Resume</h3>
            </RadzenRow>
            <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
                <RadzenColumn Size="6">
                    <InputTextArea cols="25" class="sentiment" rows="10" placeholder="Copy & Paste Resume" @bind-Value="Resume" />
                </RadzenColumn>
                <RadzenColumn Size="6">
                    <InputTextArea cols="25" class="sentiment" rows="10" placeholder="Copy & Paste Job Description" @bind-Value="JobDescription" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow style="padding: 5px">
                <RadzenButton Click=JobResumeMatchAsync IsBusy=@Busy>Match</RadzenButton>
            </RadzenRow>
            <RadzenRow>
                <InputTextArea cols="25" class="sentiment" rows="10" @bind-Value="Result" placeholder="Results" />
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>