@using BlazorBootstrap
@inherits BaseComponent

<RadzenRow Gap="5" RowGap="5" style="margin-bottom:25px">
    <RadzenColumn>
        <RadzenCard>
            <RadzenRow>
                <h2>Resume Parser (Convert PDF to JSON)</h2>
            </RadzenRow>
            <ResumeUploadToJsonComponent @ref=ResumeUploadToJsonComponent UploadCompleted=@UploadCompletedHandler></ResumeUploadToJsonComponent>
            <RadzenCard>
                <RadzenButton Click=@(args => DownloadFile()) Disabled=@DisableDownload>Download JSON Resume</RadzenButton>
                <button id="copyButton" onclick="copyToClipboard()" class="rz-button rz-button-md rz-variant-filled rz-primary rz-shade-default">Copy JSON Resume To Clipboard</button>
            </RadzenCard>
            <RadzenCard>
                <Markdown Id="resumeJson">@Result</Markdown>
            </RadzenCard>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

<style>
    #ddUpload {
        left: 0;
        --rz-upload-button-bar-background-color: transparent;
        --rz-upload-button-bar-padding: 0;
    }

        #ddUpload .rz-fileupload-buttonbar .rz-fileupload-choose {
            width: 100%;
            text-align: center;
            font-size: 16px;
            padding: 100px 0;
        }
</style>
<script src="resumeActions.js"></script>
