@inherits BaseComponent

<div style="float:right">
    <RadzenButton ButtonStyle="ButtonStyle.Danger" Text="Create Resume" Icon="add_circle" Click="@(args => NavigateTo(Paths.Resume_CreateNew))"></RadzenButton>
</div>

@code {

}
