@inject HttpClient Http

<RadzenRow Gap="5" RowGap="5" style="margin-bottom:25px">
    <RadzenColumn>
        <RadzenCard>
            <RadzenRow>
                <h2>Analyse Resume Sentiment</h2>
            </RadzenRow>
            <RadzenRow>
                <p><textarea @oninput="UpdateScoreAsync" cols="25" class="sentiment" rows="10" placeholder="Copy Paste Your resume"></textarea></p>
            </RadzenRow>
            <RadzenRow>
                <HappinessScale Value=@happiness />
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>