@inherits BaseComponent
<RadzenRow>
    <RadzenColumn Size="12">        
        <p>Please <RadzenLink Text="Sign In" Path=@NavigateToLoginPath(Path)></RadzenLink> to begin viewing/managing resumes, jobs, schedules, and more.</p>
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Sign In" Click="@(args => NavigateToLogin(Path))"></RadzenButton>
    </RadzenColumn>
</RadzenRow>
@code{
    [Parameter]
    public string Path { get; set; } = Paths.Resume_View;
}
