@using MyVideoResume.Data.Models.Resume


<div class="searchComponent">
    <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.Center">
@*         <RadzenTextBox @bind-value=@QuerySelected placeholder="Search..." class="searchComponent" />
        <RadzenButton Icon="search" Click=@(args => Search()) class="searchComponent" Shade="Shade.Lighter" ButtonStyle="ButtonStyle.Base"></RadzenButton>
        <FilterOptionsComponent></FilterOptionsComponent>
 *@    </RadzenStack>
</div>
@code {
    [Parameter]
    public MetaResumeEntity Resume { get; set; }

    protected override void OnInitialized()
    {
    }
}